body
{
background-image: linear-gradient(to right top, #dd6094, #fd21fd, #fa3fdb, #e916aa, #f708f7);

}
.login_div {
  text-align: center;
  float: none;
  margin-top: 10%;
}
#output {
  background: white;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
}
